In [1]:
import pandas as pd
df = pd.read_csv("Data/SP500.csv")
df.head()

         DATE    SP500
0  2010-06-28  1074.57
1  2010-06-29  1041.24
2  2010-06-30  1030.71
3  2010-07-01  1027.37
4  2010-07-02  1022.58